In [1]:
# https://dev.to/1n0t/matplotlib-heatmap-calendar-3kbo

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import yfinance as yf

from datetime import date
from datetime import datetime

import os

In [3]:
folderPath_rsrc = '/Resources/'
folderPath_results = '/Results/'
cwd = os.getcwd()
path_rsrc = cwd + folderPath_rsrc
path_results = cwd + folderPath_results
# read data
ETFs = pd.read_excel(path_rsrc + "ETFs list.xlsx")

In [4]:
ETFs

,Technology,Energy,Telecom,Consumer Discretionary,Real Estate,Industrials,Utilities,Materials,Healthcare,Consumer Staples,Financials
0,AAPB,ACES,FCOM,AMZD,BBRE,AIRR,BLLD,ALUM,AGNG,CHIS,BDCX
1,AAPD,AMJ,IXP,AMZU,BLDG,AQWA,CHIU,BATT,ARKG,CLIX,BDCZ
2,AAPU,AMLP,IYZ,BAD,BYRE,ARKX,ECLN,CHIM,BBC,EATV,BIZD
3,AIQ,AMNA,LTL,BEDZ,CHIR,AWAY,EMIF,CIRC,BBH,EATZ,BNKD
4,ARKK,AMND,NXTG,BETZ,DFGR,BDRY,FUTY,COPX,BBP,ECON,BNKU
...,...,...,...,...,...,...,...,...,...,...,...
163,XPND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,XSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,XSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,XT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,XWEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
sector = "Energy"
energy = ETFs[sector]
energy.dropna(inplace=True)

In [6]:
energy = energy.to_list()

In [7]:
energy[:10]

['ACES', 'AMJ', 'AMLP', 'AMNA', 'AMND', 'AMTR', 'AMUB', 'AMZA', 'ATMP', 'BNE']

In [8]:
end_ = date.today()  # yyyy-mm-dd
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - 1, 30)
else:
    start_ = datetime(end_.year, end_.month - 1, end_.day)

data = yf.download(energy, start=start_, end=end_, interval="1wk")

[*********************100%%**********************]  86 of 86 completed

1 Failed download:
['MLPO']: Exception('%ticker%: No price data found, symbol may be delisted (1wk 2023-10-20 00:00:00 -> 2023-11-20)')

In [9]:
date.today()

datetime.date(2023, 11, 20)

In [10]:
start_

datetime.datetime(2023, 10, 20, 0, 0)

In [11]:
data

                     Adj Close                                              \
                          ACES        AMJ       AMLP       AMNA       AMND
Date
2023-10-16 00:00:00  30.580000  25.040001  41.946651  37.465000  38.877998
2023-10-23 00:00:00  29.510000  24.570000  40.859798  36.542999  38.035999
2023-10-30 00:00:00  32.099998  25.700001  42.808304  38.305000  39.908001
2023-11-06 00:00:00  28.410000  25.030001  40.526890  37.316002  38.872002
2023-11-13 00:00:00  30.809999  25.650000  42.700001  38.161999  39.842999

                                                                            \
                          AMTR       AMUB       AMZA       ATMP        BNE
Date
2023-10-16 00:00:00  50.625000  15.798000  35.041286  21.230000  20.299999
2023-10-23 00:00:00  49.375999  15.450000  34.150002  20.700001  19.586000
2023-10-30 00:00:00  51.778999  16.195000  36.009998  21.700001  20.941000
2023-11-06 00:00:00  50.417999  15.740000  34.799999  21.080000  20.094999
2023-11-13 00:00:00  51.582001  16.169001  36.099998  21.629999  21.122999

                     ...  Volume                                           \
                     ...    TPYP    UMI   USAI  VCLN      VDE VMAT   WNDY
Date                 ...
2023-10-16 00:00:00  ...   26800   6300    100   300   988600    0   1400
2023-10-23 00:00:00  ...  687800  38400  14100  1200  4611600  300  14100
2023-10-30 00:00:00  ...  142900  26100   9500   400  2500500  300   3300
2023-11-06 00:00:00  ...  150600  32200   3300   400  3255100  500   7800
2023-11-13 00:00:00  ...  170700  32700  20700   500  2723300  300   5400


                        XES        XLE       XOP
Date
2023-10-16 00:00:00   65400   23263400   4764800
2023-10-23 00:00:00  484900  118076100  24114600
2023-10-30 00:00:00  930800  110686700  23080600
2023-11-06 00:00:00  683800  106062700  27830400
2023-11-13 00:00:00  558100   99115900  23691200

[5 rows x 516 columns]

In [12]:
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - 1, 30)

In [13]:
df = data.Close
df

,ACES,AMJ,AMLP,AMNA,AMND,AMTR,AMUB,AMZA,ATMP,BNE,...,TPYP,UMI,USAI,VCLN,VDE,VMAT,WNDY,XES,XLE,XOP
Date,,,,,,,,,,,,,,,,,,,,,
2023-10-16 00:00:00,30.580000,25.040001,42.840000,37.465000,38.877998,50.625000,15.798000,35.279999,21.230000,20.299999,...,24.820000,35.729000,27.705999,15.681000,126.440002,25.302999,11.940,92.980003,90.260002,150.110001
2023-10-23 00:00:00,29.510000,24.570000,41.730000,36.542999,38.035999,49.375999,15.450000,34.150002,20.700001,19.586000,...,24.200001,34.816002,26.924999,15.435000,119.150002,24.968000,11.887,88.290001,84.629997,143.899994
2023-10-30 00:00:00,32.099998,25.700001,43.720001,38.305000,39.908001,51.778999,16.195000,36.009998,21.700001,20.941000,...,25.480000,36.428001,28.219999,16.389999,122.190002,26.591000,12.490,90.129997,86.680000,147.619995
2023-11-06 00:00:00,28.410000,25.030001,41.389999,37.316002,38.872002,50.417999,15.740000,34.799999,21.080000,20.094999,...,24.820000,35.407001,27.610001,15.743000,117.029999,26.820000,12.400,84.639999,83.410004,137.169998
2023-11-13 00:00:00,30.809999,25.650000,42.700001,38.161999,39.842999,51.582001,16.169001,36.099998,21.629999,21.122999,...,25.540001,36.217999,28.379999,16.764000,118.769997,27.653999,12.855,84.480003,84.690002,139.660004

---
## Calcular retornos

In [14]:
returns = df.pct_change()
returns

,ACES,AMJ,AMLP,AMNA,AMND,AMTR,AMUB,AMZA,ATMP,BNE,...,TPYP,UMI,USAI,VCLN,VDE,VMAT,WNDY,XES,XLE,XOP
Date,,,,,,,,,,,,,,,,,,,,,
2023-10-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-23 00:00:00,-0.034990,-0.018770,-0.025910,-0.024610,-0.021657,-0.024672,-0.022028,-0.032029,-0.024965,-0.035172,...,-0.024980,-0.025553,-0.028189,-0.015688,-0.057656,-0.013240,-0.004439,-0.050441,-0.062375,-0.041370
2023-10-30 00:00:00,0.087767,0.045991,0.047688,0.048217,0.049217,0.048667,0.048220,0.054465,0.048309,0.069182,...,0.052893,0.046301,0.048097,0.061872,0.025514,0.065003,0.050728,0.020840,0.024223,0.025851
2023-11-06 00:00:00,-0.114953,-0.026070,-0.053294,-0.025819,-0.025960,-0.026285,-0.028095,-0.033602,-0.028571,-0.040399,...,-0.025903,-0.028028,-0.021616,-0.039475,-0.042229,0.008612,-0.007206,-0.060912,-0.037725,-0.070790
2023-11-13 00:00:00,0.084477,0.024770,0.031650,0.022671,0.024979,0.023087,0.027255,0.037356,0.026091,0.051157,...,0.029009,0.022905,0.027888,0.064854,0.014868,0.031096,0.036694,-0.001890,0.015346,0.018153

In [15]:
def currentRow(df):
    """
    Choice the last row the present. Besides Takes the max and min values
    of this row.
    Parameters
    ----------
    df: pandas DataFrame
        Dataframea containing returns data.
        
    Returns
    -------
    last_row: pandas Series
        Last returns.
    val_max: int
        Maximum value in last_row.
    val_min: int
        Minimum value in last_row.
    """
    # sort last row values
    last_row = df.iloc[-1].sort_values(ascending=False)
    # max and min values
    val_max = last_row .max()
    val_min = last_row .min()
    
    return last_row, val_max, val_min

In [16]:
last_row, val_max, val_min = currentRow(returns)

In [17]:
last_row

KLNE    0.146169
HYDR    0.114726
TAN     0.102174
QCLN    0.092480
HDRO    0.088277
          ...
DUG    -0.029752
ERY    -0.029944
DRIP   -0.037326
NRGD   -0.050282
MLPO         NaN
Name: 2023-11-13 00:00:00, Length: 86, dtype: float64

In [18]:
val_max, val_min

(0.1461687070159543, -0.05028243752139683)

---
## Selection
we need to take the 10 best and 10 worst tickers for sector

In [19]:
def selection(serie, n=10, m_round=2):
    """
    if n>= len(serie) an n*2 serie lenght is return. Otherwise the same
    series is return.
    
    Parameters
    ----------
    serie: pandas Series
        Returns.
    n: int
        Amount of best and worst datra selected (each one).
        Default 10.
    m_round_: int
          Digits to Round.
    
    Returns
    -------
    selected: pandas Series
        Series containing best and worst returns.
    """
 
    if len(serie) >= n :         # how many values to select
        best = serie.iloc[:n]
        worst = serie.iloc[-n:]
        selected = pd.concat([best, worst], axis=0)
        selected = (selected * 100).round(m_round)       # porcentual change
    else:
        selected = last_row
        selected = (selected * 100).round(m_round)       # porcentual change
        
    return selected

In [20]:
selection_ = selection(last_row)

In [21]:
selection_

KLNE    14.62
HYDR    11.47
TAN     10.22
QCLN     9.25
HDRO     8.83
PBW      8.77
ENRG     8.53
ACES     8.45
CTEC     8.40
CTEX     8.17
ERUS     0.00
XES     -0.19
PXJ     -0.35
IEZ     -0.81
OIH     -0.89
DUG     -2.98
ERY     -2.99
DRIP    -3.73
NRGD    -5.03
MLPO      NaN
Name: 2023-11-13 00:00:00, dtype: float64

---
## Heatmap Returns Plot

In [23]:
def matrix_to_plot(serie):
    """
    Parameters
    ----------
    serie: pandas Series
        Series containing best and worst returns.
        
    Returns
    -------
    new_names: numpy.ndarray
        Names to plot.
    new_array: numpy.ndarray
        Values to plot.
    """
    length = len(serie)
    # the idea is to shape an a X b matrix
    a = int(np.sqrt(length))
    b = int(np.ceil(length/a))
    m_length = a * b                # matrix "length"

    if m_length >= length:
        # compute how many elements need to be add to the array
        diff = abs(length - m_length)
        
        # creatre a diff lenght array 
        add =np.full(diff, np.nan)
        new_array = np.append(serie, add)
        new_array = new_array.reshape(a, b)

        # add names to the plot
        names = serie.index.to_list()
        add_names =np.full(diff, '---')
        new_names = np.append(names, add_names)
        new_names = new_names.reshape(a, b)
        
    return new_names, new_array

In [24]:
new_names, new_array = matrix_to_plot(selection_)

In [25]:
new_names

array([['KLNE', 'HYDR', 'TAN', 'QCLN', 'HDRO'],
       ['PBW', 'ENRG', 'ACES', 'CTEC', 'CTEX'],
       ['ERUS', 'XES', 'PXJ', 'IEZ', 'OIH'],
       ['DUG', 'ERY', 'DRIP', 'NRGD', 'MLPO']], dtype='<U4')

In [26]:
new_array

array([[14.62, 11.47, 10.22,  9.25,  8.83],
       [ 8.77,  8.53,  8.45,  8.4 ,  8.17],
       [ 0.  , -0.19, -0.35, -0.81, -0.89],
       [-2.98, -2.99, -3.73, -5.03,   nan]])

In [27]:
asdf

NameError: name 'asdf' is not defined

In [ ]:
valores = new_array
from  matplotlib.colors import LinearSegmentedColormap
cmap_=LinearSegmentedColormap.from_list('rg',["r", "w", "g"], N=256) 

# "RdYlGn"
fig, ax = plt.subplots()

# Especificamos paleta de colores a usar y rango de valores a representar.
ax.imshow(valores, cmap=cmap_, vmin=val_min*100, vmax=val_max*100)
# borrar axis labels
ax.set_yticklabels([])
ax.set_xticklabels([])

# Reducimos la longitud de las marcas a 0 para que no sean visibles
ax.tick_params(axis=u'both', which=u'both', length=0)
for lado in ['left', 'right', 'bottom', 'top']:
    ax.spines[lado].set_visible(False)

# # Indicamos las posiciones donde dibujaremos la rejilla  
xmin, xmax = ax.get_xlim()
ymin, ymax = ax.get_ylim()

ax.set_xticks(np.arange(xmin, xmax+1), minor=True)
ax.set_yticks(np.arange(ymax, ymin+1), minor=True)

# Dibujamos la rejilla de color blanco para que actue como separador.
ax.grid(which='minor', color='w', linestyle='-', linewidth=2)
# ax.tick_params(which="minor", bottom=False, left=False)

for i in range(new_array.shape[0]):
    for j in range(new_array.shape[1]):
        # print(i, j, valores[i,j])
        text = ax.text(j, i, str(new_names[i, j]) + '\n' + str(valores[i, j])+'%',
                       ha="center", va="center", color="k", size=6)

ax.set_title(f"{sector}\n")
        
plt.savefig(f"{sector}.png")
plt.show()