In [1]:
%load_ext autoreload
%autoreload 2

#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date
from datetime import datetime
import os

import data as data_

In [2]:
# Paths

folderPath_rsrc = '/Resources/'
folderPath_results = '/Results/'
cwd = os.getcwd()
path_rsrc = cwd + folderPath_rsrc
path_results = cwd + folderPath_results
# read data
ETFs = pd.read_excel(path_rsrc + "ETFs list.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Usuario\\Documents\\GitHub\\Desempe-o-Sectorial\\ETFs/Resources/ETFs list.xlsx'

In [12]:
ETFs

,Technology,Energy,Telecom,Consumer Discretionary,Real Estate,Industrials,Utilities,Materials,Healthcare,Consumer Staples,Financials
0,AAPB,ACES,FCOM,AMZD,BBRE,AIRR,BLLD,ALUM,AGNG,CHIS,BDCX
1,AAPD,AMJ,IXP,AMZU,BLDG,AQWA,CHIU,BATT,ARKG,CLIX,BDCZ
2,AAPU,AMLP,IYZ,BAD,BYRE,ARKX,ECLN,CHIM,BBC,EATV,BIZD
3,AIQ,AMNA,LTL,BEDZ,CHIR,AWAY,EMIF,CIRC,BBH,EATZ,BNKD
4,ARKK,AMND,NXTG,BETZ,DFGR,BDRY,FUTY,COPX,BBP,ECON,BNKU
...,...,...,...,...,...,...,...,...,...,...,...
163,XPND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,XSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,XSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,XT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,XWEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
sector = "Energy"
energy = ETFs[sector]
energy.dropna(inplace=True)

In [14]:
energy = energy.to_list()

In [15]:
energy[:5]

['ACES', 'AMJ', 'AMLP', 'AMNA', 'AMND']

## Handling data
---

### Download data

In [30]:
# download data

end_ = date.today()  # yyyy-mm-dd
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - 1, 30)
else:
    start_ = datetime(end_.year, end_.month - 1, end_.day)

download = False    
if download:
    data_.downloadAllTickers(tickers=energy, start=start_, end=end_, period='w')

### Read data

In [27]:
df = pd.read_pickle(f"{path_rsrc}{energy[0]}")

In [28]:
df

         date   open    high     low  close  adjusted_close  volume
0  2023-10-03  34.50  34.500  32.200  33.37           33.37  583400
1  2023-10-09  32.97  35.685  32.540  33.72           33.72  592500
2  2023-10-16  33.77  34.950  30.550  30.58           30.58  599000
3  2023-10-23  30.25  31.444  29.450  29.51           29.51  349500
4  2023-10-30  29.81  31.400  28.865  31.33           31.33  530345