In [16]:
%load_ext autoreload
%autoreload 2

#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date
from datetime import datetime
import os

import data as data_
import shared

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# Paths

folderPath_rsrc = '/Resources/'
folderPath_results = '/Results/'
cwd = os.getcwd()
path_rsrc = cwd + folderPath_rsrc
path_results = cwd + folderPath_results
# read data
ETFs = pd.read_excel(path_rsrc + "ETFs list.xlsx")

In [3]:
ETFs

,Technology,Energy,Telecom,Consumer Discretionary,Real Estate,Industrials,Utilities,Materials,Healthcare,Consumer Staples,Financials
0,AAPB,ACES,FCOM,AMZD,BBRE,AIRR,BLLD,ALUM,AGNG,CHIS,BDCX
1,AAPD,AMJ,IXP,AMZU,BLDG,AQWA,CHIU,BATT,ARKG,CLIX,BDCZ
2,AAPU,AMLP,IYZ,BAD,BYRE,ARKX,ECLN,CHIM,BBC,EATV,BIZD
3,AIQ,AMNA,LTL,BEDZ,CHIR,AWAY,EMIF,CIRC,BBH,EATZ,BNKD
4,ARKK,AMND,NXTG,BETZ,DFGR,BDRY,FUTY,COPX,BBP,ECON,BNKU
...,...,...,...,...,...,...,...,...,...,...,...
163,XPND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,XSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,XSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,XT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,XWEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sector = "Energy"
energy = ETFs[sector]
energy.dropna(inplace=True)

In [5]:
energy = energy.to_list()

In [6]:
len(energy)

86

In [7]:
# energy = energy[:10]
print(energy)

['ACES', 'AMJ', 'AMLP', 'AMNA', 'AMND', 'AMTR', 'AMUB', 'AMZA', 'ATMP', 'BNE', 'CHIE', 'CNRG', 'CRAK', 'CTEC', 'CTEX', 'DIG', 'DRIP', 'DRLL', 'DUG', 'EINC', 'EMLP', 'ENFR', 'ENRG', 'ERTH', 'ERUS', 'ERX', 'ERY', 'FAN', 'FCG', 'FENY', 'FILL', 'FRNW', 'FTXN', 'FXN', 'GCLN', 'GUSH', 'HDRO', 'HJEN', 'HYDR', 'ICLN', 'IEO', 'IEZ', 'IXC', 'IYE', 'KLNE', 'KWT', 'LCTD', 'LNGG', 'MLPA', 'MLPB', 'MLPO', 'MLPR', 'MLPX', 'NBCT', 'NETZ', 'NLR', 'NRGD', 'NRGU', 'NTZG', 'NZAC', 'NZUS', 'OIH', 'PBD', 'PBW', 'PSCE', 'PXE', 'PXI', 'PXJ', 'QCLN', 'RAYS', 'RNRG', 'RNWZ', 'RSPG', 'SMOG', 'SOLR', 'TAN', 'TPYP', 'UMI', 'USAI', 'VCLN', 'VDE', 'VMAT', 'WNDY', 'XES', 'XLE', 'XOP']

## Handling data
---

### Download data

In [8]:
# download data

end_ = date.today()  # yyyy-mm-dd
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - 1, 30)
else:
    start_ = datetime(end_.year, end_.month - 1, end_.day)

download = True
if download:
    df = data_.downloadAllTickers(tickers=energy, start=start_, end=end_, period='w', group_by='column')

df.head()

In [9]:
closes_df = df.close

In [10]:
closes_df.head()

,RAYS,RNRG,RNWZ,RSPG,SMOG,SOLR,TAN,TPYP,UMI,USAI,VCLN,VMAT,WNDY,XES,XLE,XOP
date,,,,,,,,,,,,,,,,
2023-10-23,11.830,9.24,18.855,77.56,95.18,23.9572,43.68,24.600,35.482,27.5214,15.631,25.330,11.900,92.02,88.80,147.92
2023-10-24,12.045,9.42,19.382,76.68,97.60,24.2367,44.26,24.580,35.368,27.4926,15.928,25.490,12.160,91.65,87.55,146.75
2023-10-25,11.660,9.29,19.308,76.48,95.53,23.6930,42.64,24.550,35.317,27.4420,15.736,25.225,11.930,90.18,87.39,146.52
2023-10-26,11.600,9.41,19.370,76.07,95.75,23.7010,43.05,24.586,35.268,27.2990,15.852,25.020,12.000,88.22,86.71,145.84
2023-10-27,11.430,9.26,19.282,74.83,94.31,23.4000,40.95,24.200,34.816,26.9250,15.435,24.968,11.887,88.29,84.63,143.90

In [11]:
closes_df.columns

Index(['RAYS', 'RNRG', 'RNWZ', 'RSPG', 'SMOG', 'SOLR', 'TAN', 'TPYP', 'UMI',
       'USAI', 'VCLN', 'VMAT', 'WNDY', 'XES', 'XLE', 'XOP'],
      dtype='object')

In [20]:
shared._DFS.keys()

dict_keys(['VMAT', 'SOLR', 'USAI', 'RAYS', 'WNDY', 'RSPG', 'SMOG', 'UMI', 'TPYP', 'XES', 'RNRG', 'XLE', 'RNWZ', 'VCLN', 'TAN', 'XOP'])

In [12]:
asdf

NameError: name 'asdf' is not defined

## Calcular retornos

In [ ]:
returns = closes_df.pct_change()

In [ ]:
returns.tail()

In [ ]:
# sort last row values
values = returns.iloc[-1].sort_values(ascending=False)
# max and min values
val_max = values.max()
val_min = values.min()

In [ ]:
values

In [ ]:
# round values to two decimal
test = [round(i*100,2) for i in values]
test

In [ ]:
length = len(test)
# the idea is to shape an a X b matrix
a = int(np.sqrt(length))
b = int(np.ceil(length/a))
m_length = a * b                # matrix "length"

if m_length >= length:
    # compute how many elements need to be add to the array
    diff = abs(length - m_length)
    
    add =np.full(diff, np.nan)
    new_array = np.append(test, add)
    new_array = new_array.reshape(a, b)
    
    # add names to the plot
    names = values.index.to_list()
    add_names =np.full(diff, '---')
    new_names = np.append(names, add_names)
    new_names = new_names.reshape(a, b)

In [ ]:
new_array

In [ ]:
valores = new_array
from  matplotlib.colors import LinearSegmentedColormap
cmap_=LinearSegmentedColormap.from_list('rg',["r", "w", "g"], N=256) 

# "RdYlGn"
fig, ax = plt.subplots()

# Especificamos paleta de colores a usar y rango de valores a representar.
ax.imshow(valores, cmap=cmap_, vmin=val_min*100, vmax=val_max*100)
# borrar axis labels
ax.set_yticklabels([])
ax.set_xticklabels([])

# Reducimos la longitud de las marcas a 0 para que no sean visibles
ax.tick_params(axis=u'both', which=u'both', length=0)
for lado in ['left', 'right', 'bottom', 'top']:
    ax.spines[lado].set_visible(False)

# # Indicamos las posiciones donde dibujaremos la rejilla  
xmin,xmax = ax.get_xlim()
ymin,ymax = ax.get_ylim()

ax.set_yticks(np.arange(ymax, ymin+1), minor=True)
ax.set_xticks(np.arange(xmin, xmax+1), minor=True)
# Dibujamos la rejilla de color blanco para que actue como separador.
ax.grid(which='minor', color='w', linestyle='-', linewidth=2)

for i in range(new_array.shape[0]):
    for j in range(new_array.shape[1]):
        # print(i, j, valores[i,j])
        text = ax.text(j, i, str(new_names[i, j]) + '\n' + str(valores[i, j])+'%',
                       ha="center", va="center", color="k", size=6)

ax.set_title(f"{sector}\n")
        
plt.savefig(f"{sector}.png")
plt.show()